# * se utiliza como una coincidencia comodín.
# / se usa para ignorar las rutas relativas al archivo .gitignore.
# # es usado para agregar comentarios

# Ignora todos los archivos de texto
# *.txt

# Ignora los archivos relacionados a API keys
.env

/build
.devcontainer
.vscode

